<div class="container">
  <h1 mat-dialog-title> Edit profile - {{userData.userName}}</h1>
  <img src="assets/usericon.svg" width=100px height=100px>
  <div class="content" mat-dialog-content>
    <form class="user-form" [formGroup]="userForm">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" [(ngModel)]="userData.firstName">
        <mat-error *ngIf="userForm.controls['firstName'].hasError('required')">First name is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" [(ngModel)]="userData.lastName">
        <mat-error *ngIf="userForm.controls['lastName'].hasError('required')">Last name is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" [(ngModel)]="userData.email">
        <mat-error *ngIf= "userForm.controls['email'].hasError('pattern') && !loginForm.controls['email'].hasError('required')">Please enter a valid email address</mat-error>
        <mat-error *ngIf="userForm.controls['email'].hasError('required')">Email is required</mat-error>
      </mat-form-field>
      <div class="buttons">
          <button mat-raised-button (click)="closeWindow()">Cancel</button>
          <span></span>
          <button mat-raised-button [mat-dialog-close]="userData" [disabled]="userForm.invalid">Save</button>
      </div>
    </form>
  </div>
</div>
