.container{
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

h1{
  text-align: center;
}

.user-form{
margin-top: 20px;
display: flex;
flex-direction: column;
 }

.buttons{
  display: flex;
  align-items: center;
  width: 200px;
}
span{
  flex: 1 1 auto;
}
