.container{
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count-item{
  width: 25%;
}

.count{
  width: 25%;
}

.table{
width: 90%;
}

.total-price{
width: 90%;
float: left;
}

.order-confirm{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
