<div class="container">
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <div class="cart" *ngIf="!orderConfirm">
    <h1>Checkout</h1>
    <mat-error *ngIf="emptyCart">Cart is Empty</mat-error>
    <mat-error *ngIf="haveError">{{errorMsg}}</mat-error>
    <table class="table" mat-table [dataSource]="cartModel.items">
        <ng-container matColumnDef="product">
          <th mat-header-cell class="product" *matHeaderCellDef>Product</th>
          <td mat-sell *matCellDef="let element">{{ element.product }}</td>
        </ng-container>
        <ng-container matColumnDef="unit-price">
            <th mat-header-cell class="price" *matHeaderCellDef>Unit Price</th>
            <td mat-sell *matCellDef="let element">{{ element.price | number: '0.1-3' }}</td>
        </ng-container>
        <ng-container matColumnDef="count" >
            <th mat-header-cell class="count" class="count-item" *matHeaderCellDef>Count</th>
            <td mat-sell *matCellDef="let element">
              <mat-form-field class="count">
                <mat-label>Count</mat-label>
                <input matInput type="number" min="1" max="100" [(ngModel)]="element.count" (change)="editItem(element)">
              </mat-form-field>
            </td>
        </ng-container>
        <ng-container matColumnDef="order-amouth">
            <th mat-header-cell class="order-amounth" *matHeaderCellDef>Order Amouth</th>
            <td mat-sell *matCellDef="let element" (ngModel)="element.price * element.count">{{ element.orderAmount | number:'0.1-3'}}</td>
        </ng-container>
        <ng-container matColumnDef="crud">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="crud" mat-sell *matCellDef="let element">
              <div class="crud-button">
                <button class="delete" (click)="deleteItem(element.printingEditionId)" mat-button><img src="assets/clear.svg" height=30px width=30px></button>
              </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div class="total-price">
      <h2 class="total-price-label">Total price: USD {{totalPrice | number: '0.1-3'}}</h2>
    </div>
    <div class="buttons">
      <button mat-raised-button (click)="closeWindow()">Cancel</button>
      <button mat-raised-button (click)="pay(totalPrice)">Buy Now</button>
    </div>
  </div>
</div>
