<div class="container">
  <div class="filter">
    <div class="category-filter">
      <h3>Categories</h3>
        <div class="check-boxses" *ngFor="let item of printingEditionTypeOption; let i = index">
          <mat-checkbox [(ngModel)]="item.checked" [ngModelOptions]="{ standalone: true }" (change)="onChecked($event, i)">{{ item.label }}</mat-checkbox>
        </div>
    </div>
    <div class="curency-filter">
      <mat-form-field>
        <mat-label>Curency</mat-label>
          <mat-select [(ngModel)]="curencyType"  [ngModelOptions]="{ standalone: true }">
            <mat-option *ngFor="let curency of curencyTypeOption" [value]="curency.id">{{curency.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sort-filter">
      <mat-form-field>
        <mat-label>Sort Price By</mat-label>
        <mat-select [(ngModel)]="printingEditionFilter.sortType"  [ngModelOptions]="{ standalone: true }">
          <mat-option *ngFor="let type of sortTypeOption" [value]="type.id">{{type.label}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class = "serch-string">
        <mat-form-field class="printing-edition-title">
          <mat-label>Please enter PrintingEdition Title</mat-label>
          <input matInput placeholder="" [(ngModel)]="printingEditionFilter.serchString" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>
    <div class="price-filter">
      <h3>Price</h3>
      <mat-form-field class="min-price">
          <input matInput placeholder="Min" [(ngModel)]="printingEditionFilter.minPrice" [ngModelOptions]="{ standalone: true }">
      </mat-form-field>
      -
      <mat-form-field class="max-price">
          <input matInput placeholder="Max" [(ngModel)]="printingEditionFilter.maxPrice" [ngModelOptions]="{ standalone: true }">
      </mat-form-field>
      <button class="filter-button" mat-raised-button (click)="filterPrintingEdition()"> Filter </button>
    </div>
  </div>
  <div class="content">
    <mat-grid-list  cols="3" rowHeight="3:2">
      <mat-grid-tile  *ngFor="let item of printingEditionModel.items">
        <mat-card class="information" (click)="getInformation(item.printingEditionId)">
          <img src='assets/book.svg' width=150px>
          <mat-card-title> {{item.title}} </mat-card-title>
          <mat-card-subtitle>{{getType(item.type)}}</mat-card-subtitle>
          <div *ngFor="let author of item.authors">{{author.authorName}}</div>
          <div>{{printingEditionFilter.curency}} {{item.price}}</div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator [length]="paginationModel.length" [pageSize]="paginationModel.pageSize" [pageSizeOptions]="paginationModel.pageSizeOptions"
    (page)="pageEvent = getPrintingEditionData($event.pageSize, $event.pageIndex)"
    showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
<button class="service" *ngIf="isLoggedIn" mat-button matTooltip="Log in as a administrator" (click)="logInAdmin(true)" ><img src="assets/settings_applications.svg" width=50px>Service</button>

