.filter {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 500px;
  margin-left: 2%;
  margin-top: 5%;
  border-right: 1px solid black;
}

.service{
  display: inline-block;
  /* margin-top: 80%; */
}

.container{
  width: 100%;
  min-height: 80vh;
  display: flex;
}

.printing-edition-title{
  width: 90%;
}

.category-filter {
  border-block-end: 1px solid black;
}

.serch-string{
  margin-top: 2%;
  border-block-end: 1px solid black;
}

.max-price {
  width: 25%;
}
.min-price {
  width: 25%;
}

.curency-filter {
  margin-top: 2%;
  border-block-end: 1px solid black;
}

.sort-filter {
  margin-top: 2%;
  border-block-end: 1px solid black;
}

.filter-button {
  margin-left: 5%;
}
.content{
  width: 100%;
  margin-top: 3%;
}

.information{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 80%;
  cursor: pointer;
}

