<div class="container">
  <div class="content">
    <div class="information">
        <img src="assets/book.svg" width=200px>
        <div class="details">
          <h2> {{printingEditionModelItem.title}} </h2>
          <div *ngFor = "let author of printingEditionModelItem.authors">{{author.authorName}}</div>
        </div>
    </div>
    <div class="cart-information">
      <div class="cart">
        <mat-form-field class="count">
          <mat-label>Count</mat-label>
          <input  matInput type="number" min="1" max="100" [(ngModel)]="cartModelItem.count">
        </mat-form-field>
        <mat-form-field class="curency">
          <mat-label>Curency</mat-label>
            <mat-select [(ngModel)]="curencyType" [ngModelOptions]="{ standalone: true } " (selectionChange)="getInformation()">
              <mat-option *ngFor="let curencyItem of curencyTypeOption" [value]="curencyItem.id">{{curencyItem.label}}</mat-option>
          </mat-select>
        </mat-form-field>
        <p class="price"> {{getCurencyType(curencyType)}} {{printingEditionModelItem.price | number: '0.1-3'}} </p>
      </div>
      <button *ngIf="!isAdding" mat-raised-button class="add-button" (click)="addToCrard()" [disabled]="!isLoggedIn">Add to Cart</button>
      <mat-error *ngIf="!isLoggedIn">Please login</mat-error>
      <h2 *ngIf="isAdding"  class="msg">This item add to cart</h2>
    </div>
  </div>
  <p class="descriptyon"> {{printingEditionModelItem.description}} </p>
</div>
