.container{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
.content{
  display: flex;
  justify-content: space-between;
}
/* span {
  flex: 1 1 auto;
} */
.information{
  display: flex;
  float: left;
}
.cart-information{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.count{
  width: 10%;
}

.curency{
  margin-left: 5%;
  width: 15%;
}

.price{
  width: 40%;
  margin-left: 5%;
  text-align: center;
}

.add-button{
width: 200px;
}

.descriptyon{
  text-align: center;
}

.msg{
  color: #fa0000;
}
