.container{
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.printing-edition-form{
  width: 100%;
  display: flex;
}
.left-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  width: 90%;
  resize: none;
}

.title-textarea{
  resize:none;
}

.descriptyon-textarea{
  resize: none;
}

.descriptyon{
  width: 90%;
}

.right-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category{
  width: 90%;
}
.author{
  width: 90%;
}
.price{
  width: 90%;
}
.curency{
  width: 90%;
}

