<div class="container">
  <form class="printing-edition-form" [formGroup]="printingEditionForm">
    <div class="left-content">
      <mat-form-field class="title" appearance="outline">
        <mat-label>Title</mat-label>
        <textarea  matInput class="title-textarea"  formControlName="title"  rows="6" maxlength="200" placeholder="Enter title" required [(ngModel)]="printingEdition.title"></textarea>
        <mat-error *ngIf="printingEditionForm.controls['title'].hasError('required')">Title is required</mat-error>
        <mat-hint align="end">{{printingEdition.title?.length || 0}}/200</mat-hint>
      </mat-form-field>
      <mat-form-field class="descriptyon" appearance="outline">
        <mat-label>Descriptyon</mat-label>
        <textarea matInput class="descriptyon-textarea" formControlName="descriptyon" rows="10" maxlength="2000" placeholder="Enter title" required [(ngModel)]="printingEdition.description" ></textarea>
        <mat-error *ngIf="printingEditionForm.controls['descriptyon'].hasError('required')">Descriptyon is required</mat-error>
        <mat-hint align="end">{{printingEdition.description?.length || 0}}/2000</mat-hint>
      </mat-form-field>
    </div>
    <div class="right-content">
      <img src="assets/book.svg" width=150px>
      <mat-form-field class="category">
        <mat-label>Category</mat-label>
          <mat-select formControlName="category" [(ngModel)]="type" requirerd>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let category of categoryTypeOption" [value]="category.id">{{category.label}}</mat-option>
          </mat-select>
          <mat-error *ngIf="printingEditionForm.controls['category'].hasError('required')">Category not selected</mat-error>
      </mat-form-field>
      <mat-form-field class="author">
        <mat-label >Author</mat-label>
          <mat-select formControlName="author" [compareWith]="compareFunction" [(ngModel)]="printingEdition.authors" multiple>
            <mat-optgroup>
                --Selected--
              <ng-container *ngFor="let author of authorOption">
                <mat-option *ngIf = "checkAuthorSelectedState(author)" [value]="author">{{author.authorName}}</mat-option>
              </ng-container>
            </mat-optgroup>
            <mat-optgroup>
                --All--
              <ng-container *ngFor="let author of authorOption">
                  <mat-option *ngIf = "!checkAuthorSelectedState(author)" [value]="author">{{author.authorName}}</mat-option>
              </ng-container>
            </mat-optgroup>
          </mat-select>
          <mat-error *ngIf="printingEditionForm.controls['author'].hasError('required')">Author not selected</mat-error>
      </mat-form-field>
      <mat-form-field class="price">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" placeholder="Enter price" required [(ngModel)]="printingEdition.price" requirerd>
        <mat-error *ngIf="printingEditionForm.controls['price'].hasError('required')">Price is required</mat-error>
      </mat-form-field>
      <mat-form-field class="curency">
        <mat-label>Curency</mat-label>
          <mat-select formControlName="curency" [(ngModel)]="curency" requirerd>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let curency of curencyTypeOption" [value]="curency.id">{{curency.label}}</mat-option>
        </mat-select>
        <mat-error *ngIf="printingEditionForm.controls['curency'].hasError('required')">Curency not selected</mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="buttons">
    <button class="cancel-button" mat-raised-button (click)="closeWindow()" >Cancel</button>
    <button class="save-button" [mat-dialog-close]="printingEdition" (click)="submit()" [disabled]="printingEditionForm.invalid" mat-raised-button >Save</button>
  </div>
</div>
