<div class="container">
  <h1 mat-dialog-title>Attention user - {{data}}</h1>
  <img src="assets/warning.svg" width=200px height=200px>
  <div class="content" mat-dialog-content>
  <p>Are you sure you want to exit from your account?</p>
    <div class="buttons">
        <button mat-raised-button (click)="closeWindow()">Cancel</button>
        <span></span>
        <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
    </div>
  </div>
  </div>
