.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.table-container{
  width: 90%;
}
.order-label{
  width: 90%;
  text-align: left;
}

.add-item{
  float: right;
}

.author-name{
  width: 40%;
}
.filter-button{
  margin-left: 20px;
}
.content{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

span{
  flex: 1 1 auto;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
padding-left: 0px;
}

table{
  width: 100%;
}
