<div class="container">
    <h1 class="order-label">Author's page</h1>
    <div class="table-container">
      <mat-error> {{authorModel.errors}} </mat-error>
      <div class="content">
        <mat-form-field class="author-name">
          <mat-label>Author Name</mat-label>
          <input matInput placeholder="" [(ngModel)]="authorFilter.serchString" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <button class="filter-button" mat-raised-button (click)="filterAuthor()"> Filter </button>
        <span></span>
        <button class="add-item" mat-button  matTooltip="Add new item" (click)="addAuthor()" ><img src="assets/add.svg" height=30px width=30px></button>
      </div>

      <table class="table" mat-table [dataSource]="authorModel.items" matSort (matSortChange)="sortDataAuthor($event)" [matSortDisableClear]="true" matSortActive="ItemId" matSortStart="asc">
        <ng-container matColumnDef="author-id">
          <th mat-header-cell class="order-id" mat-sort-header="ItemId" *matHeaderCellDef>Id</th>
          <td mat-sell *matCellDef="let element">{{ element.authorId }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-sell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef>Product</th>
          <td mat-sell *matCellDef="let element">
            <option *ngFor="let item of element.productTitles">
              {{item}}
            </option>
          </td>
        </ng-container>
        <ng-container matColumnDef="crud">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="crud" mat-sell *matCellDef="let element">
              <div class="crud-button">
                <button class="edit" mat-button (click)="updateAuthor(element)"><img src="assets/create.svg" height=30px width=30px></button>
                <button class="delete" mat-button (click)="deleteAuthor(element)"><img src="assets/clear.svg" height=30px width=30px></button>
              </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="paginationModel.length"
        [pageSize]="paginationModel.pageSize"
        [pageSizeOptions]="paginationModel.pageSizeOptions"
        (page)="pageEvent = getAuthorData($event.pageSize, $event.pageIndex)"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
