.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form{
  text-align: center;
  width: 400px;
}

@media only screen and (min-height: 600px){
  .container{
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.mat-form-field{
  width: 100%;
  align-items: center;
}

#white-space{
  display: flex;
  align-items: center;
  justify-content: center;
}

span{
  flex:1 1 auto;
}

.sing-up{
  width: 200px;
}

