<div class="container">
<img src="assets/usericon.svg" alt="img" width=100px height=100px>
<h2>Sign-In </h2>
<mat-error>{{ baseModel?.errors}}</mat-error>
<form class="login-form" [formGroup]="loginForm">
    <p>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="" id="email" formControlName="email" required [(ngModel)]="signInModel.email">
        <mat-error *ngIf= "loginForm.controls['email'].hasError('pattern') && !loginForm.controls['email'].hasError('required')">Please enter a valid email address</mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Email is required</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label> Password</mat-label>
        <input matInput placeholder="" id="password" formControlName="password" [type]="hide ? 'text' : 'password'" required [(ngModel)]="signInModel.password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint *ngIf="!isLogInAdmin" align='end' [routerLink]="['/account/forgotPassword']" routerLinkActive="router-link-active" > Forgot your password?</mat-hint>
        <mat-error *ngIf="loginForm.controls['password'].hasError('pattern') && !loginForm.controls['password'].hasError('required')">Please enter a valid password</mat-error>
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password is required</mat-error>
      </mat-form-field>
    </p>
      <p id="white-space">
        <mat-checkbox *ngIf="!isLogInAdmin" class="remember-me" [(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}"> Remember Me! </mat-checkbox>
        <span *ngIf="!isLogInAdmin" ></span>
        <button *ngIf="!isLogInAdmin" class="sign-in" mat-raised-button (click)="submit()"> Sign In </button>
        <button *ngIf="isLogInAdmin" class="sign-in" mat-raised-button (click)="submitAdmin()"> Sign In </button>
      </p>
    <label *ngIf="!isLogInAdmin" class="sign-up-lable">New to Book Publishing Company?</label>
    <p></p>
    <button *ngIf="!isLogInAdmin" class="sing-up" [routerLink]="['/account/signUp']" routerLinkActive="router-link-active"  mat-raised-button>Sign Up</button>
</form>
</div>
