<div class="confirm-email" *ngIf="!hideConfirmEmail">
  <img src="assets/done_outline.svg" alt="done_outline-24px" width=100px height=100px>
  <span class = "lable">Dear new {{firstName}} {{lastName}} .Thank you for your registration</span>
  <button class="continue" mat-raised-button [routerLink]="['/account/signIn']" routerLinkActive="router-link-active" (click)="continue()">Continue</button>
</div>
<div class="confirm-email" *ngIf="hideConfirmEmail">
    <img src="assets/error_outline.svg" alt="done_outline-24px" width=100px height=100px>
    <span class = "lable">Error confirming email.{{error}}. Contact the administration</span>
  </div>
