.confirm-email{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
}

.lable{
  margin-top: 20px;
  width: 100%;
}

.done_outline-24px{
  background-color: #32fc00;
}

.continue{
  margin-top: 20px;
  width: 200px;
}

@media only screen and (min-height: 600px){
  .confirm-email{
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
