<div class="container">
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <h1 class="order-label">Order managment</h1>
  <div class="table-container">
    <mat-error *ngIf="haveError">{{ orderModel.errors }}</mat-error>
    <table
      class="table"
      mat-table
      [dataSource]="orderModel.items"
      matSort
      (matSortChange)="sortDataOrder($event)"
      [matSortDisableClear]="true"
      matSortActive="ItemId"
      matSortStart="asc"
    >
      <ng-container matColumnDef="order-id">
        <th
          mat-header-cell
          mat-sort-header="ItemId"
          class="order-id"
          *matHeaderCellDef
        >
          Order Id
        </th>
        <td mat-sell *matCellDef="let element">{{ element.orderId }}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell mat-sort-header="Date" *matHeaderCellDef>Date</th>
        <td mat-sell *matCellDef="let element">
          {{ element.date | date: "dd-MM-yyyy" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-sell *matCellDef="let element">
          <option *ngFor="let item of element.orderItems">
            {{ getTypeProduct(item.printingEditionType) }}
          </option>
        </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-sell *matCellDef="let element">
          <option *ngFor="let item of element.orderItems">
            {{ item.title }}
          </option>
        </td>
      </ng-container>
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>Count</th>
        <td mat-sell *matCellDef="let element">
          <option *ngFor="let item of element.orderItems">
            {{ item.count }}
          </option>
        </td>
      </ng-container>
      <ng-container matColumnDef="order-amout">
        <th mat-header-cell mat-sort-header="ItemPrice" *matHeaderCellDef>
          Order amount
        </th>
        <td mat-sell *matCellDef="let element">{{ element.orderAmount }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
          <button
            class="menu-button"
            mat-button
            [matMenuTriggerFor]="menu"
            (menuClosed)="filterOrder()"
          >
            Status
          </button>
          <mat-menu #menu="matMenu">
            <div
              class="check-boxes"
              *ngFor="let item of orderStatusOption; let i = index"
            >
              <mat-checkbox
                [(ngModel)]="item.checked"
                [ngModelOptions]="{ standalone: true }"
                (change)="onChecked($event, i)"
                (click)="$event.stopPropagation()"
              >
                {{ item.label }}
              </mat-checkbox>
            </div>
          </mat-menu>
        </th>
        <td mat-sell *matCellDef="let element">
          <button
            class="pay-button"
            mat-button
            *ngIf="
              getOrderStatus(element.orderStatus) &&
              checkOrderStatus(element.orderStatus)
            "
            (click)="pay(element.orderAmount, element.orderId)"
          >
            Pay
          </button>
          <option *ngIf="!checkOrderStatus(element.orderStatus)">
            {{ getOrderStatus(element.orderStatus) }}
          </option>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="paginationModel.length"
      [pageSize]="paginationModel.pageSize"
      [pageSizeOptions]="paginationModel.pageSizeOptions"
      (page)="pageEvent = getOrderData($event.pageSize, $event.pageIndex)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
