<div class="container">
    <h1 class="order-label">Product managment</h1>
    <div class="table-container">
      <mat-error>{{printingEditionModel?.errors}}</mat-error>
      <div class="content">
        <mat-form-field class="printing-edition-title">
          <mat-label>Please enter PrintingEdition Title</mat-label>
          <input matInput placeholder="" [(ngModel)]="printingEditionFilter.serchString" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <button class="filter-button" mat-raised-button (click)="filterPrintingEdition()"> Filter </button>
        <span></span>
        <button class="add-item" mat-button  matTooltip="Add new item" (click)="addPrintingEdition()" ><img src="assets/add.svg" height=30px width=30px></button>
      </div>
      <table class="table" mat-table [dataSource]="printingEditionModel.items" matSort (matSortChange)="sortDataPrintingEdition($event)" [matSortDisableClear]="true" matSortActive="ItemId" matSortStart="asc">
        <ng-container matColumnDef="printing-edition-id">
          <th mat-header-cell class="order-id" mat-sort-header="ItemId" *matHeaderCellDef>Id</th>
          <td mat-sell *matCellDef="let element">{{ element.printingEditionId }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell  *matHeaderCellDef>Name</th>
          <td mat-sell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-sell *matCellDef="let element" (click)=" descriptionDialogOpen(element.description)">{{ element.description | slice:0:109 }}...</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>
          <button class="menu-button" mat-button [matMenuTriggerFor]="menu" (menuClosed) = "filterPrintingEdition()">Categoty</button>
          <mat-menu #menu="matMenu">
            <div class="check-boxses" *ngFor="let item of printingEditionTypeOption; let i = index">
              <mat-checkbox [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}" (change)="onChecked($event, i)" (click)="$event.stopPropagation();">{{item.label}}</mat-checkbox>
            </div>
          </mat-menu>
        </th>
          <td mat-sell *matCellDef="let element">{{ getType(element.type) }}</td>
        </ng-container>
        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef>Author</th>
            <td mat-sell *matCellDef="let element">
              <option *ngFor="let item of element.authors">
                {{item.authorName}}
              </option>
            </td>
          </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell mat-sort-header="ItemPrice" *matHeaderCellDef>Price</th>
          <td mat-sell *matCellDef="let element">{{ element.price }}</td>
        </ng-container>
        <ng-container matColumnDef="crud">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="crud" mat-sell *matCellDef="let element">
              <div class="crud-button">
                <button class="edit" (click)="updatePrintingEdition(element)" mat-button><img src="assets/create.svg" height=30px width=30px></button>
                <button class="delete" (click)="delete(element)" mat-button><img src="assets/clear.svg" height=30px width=30px></button>
              </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="paginationModel.length"
        [pageSize]="paginationModel.pageSize"
        [pageSizeOptions]="paginationModel.pageSizeOptions"
        (page)="pageEvent = getPrintingEditionData($event.pageSize, $event.pageIndex)"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
