.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.author-name{
  width: 80%;
}

.buttons{
  width: 80%;
  display: flex;
  align-items: center;
}

.author-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

span{
  flex: 1 1 auto;
}
