<div class="container">
<h1 *ngIf="!isUpdate">Add new Author</h1>
<h1 *ngIf="isUpdate">Update author - {{authorData.name}} </h1>
  <form class="author-form" [formGroup]="authorForm">
    <mat-form-field class="author-name">
      <mat-label>Author Name</mat-label>
      <input matInput placeholder="" formControlName="name" [(ngModel)]="authorData.name">
      <mat-error *ngIf= "authorForm.controls['name'].hasError('pattern') && !authorForm.controls['name'].hasError('required')">Please enter a valid name author</mat-error>
      <mat-error *ngIf="authorForm.controls['name'].hasError('required')">Name author is required</mat-error>
    </mat-form-field>
    <div class="buttons">
      <button mat-raised-button (click)="closeWindow()">Cancel</button>
      <span></span>
      <button mat-raised-button [mat-dialog-close]="authorData" *ngIf="!isUpdate" [disabled]="authorForm.invalid">Add</button>
      <button mat-raised-button [mat-dialog-close]="authorData" *ngIf="isUpdate" [disabled]="authorForm.invalid">Update</button>
    </div>
  </form>
</div>
