<mat-toolbar class="header" color="primary">
        <span class="lable" [routerLink]="['printingEdition/printingEditionUser']" ><img src="assets/bookmarks.svg"> Print Magazine</span>
      <span></span>
  <div class="sign-in" *ngIf="!isLoggedIn">
    <button class="signIn " mat-button [routerLink]="['/account/signIn']" routerLinkActive="router-link-active" >Sign-In<img src="assets/account_circle.svg" width=40px height=40px></button>
    <button matBadge="{{cartItemsLength}}" matBadgePosition="before" matBadgeColor="warn" class="cart" mat-raised-button (click)="openCart()"><img src="assets/shopping_cart.svg">Cart</button>
  </div>
  <div class="after-sign-In" *ngIf="isLoggedIn && role === 'User'">
      <button class="menu" mat-button [matMenuTriggerFor]= "menu">{{userName}} <img *ngIf="!isPhotoEmpty" src="assets/account_circle.svg" width=40px height=40px><img class="profile-img" *ngIf="isPhotoEmpty" [src]="image" width=40px height=40px></button>
      <mat-menu #menu = "matMenu">
        <button mat-menu-item [routerLink]="['/user/userProfile']" routerLinkActive="router-link-active">MyProfile</button>
        <button mat-menu-item [routerLink]="['/order/userOrder']" routerLinkActive="router-link-active" >My Order</button>
        <button mat-menu-item (click)=logOut()>Log Out</button>
      </mat-menu>
      <button  matBadge="{{cartItemsLength}}" matBadgePosition="before" matBadgeColor="warn" class="button mat-raised-button" (click)="openCart()" mat-raised-button><img src="assets/shopping_cart.svg">Cart</button>
  </div>
  <div class="after-sign-In" *ngIf="isLoggedIn && role === 'Admin'">
    <button class="menu" mat-button [matMenuTriggerFor]= "menu">{{userName}}<img *ngIf="!isPhotoEmpty" src="assets/account_circle.svg" width=40px height=40px><img class="profile-img" *ngIf="isPhotoEmpty" [src]="image" width=40px height=40px></button>
    <mat-menu #menu = "matMenu">
      <button mat-menu-item [routerLink]="['/order/adminOrder']" routerLinkActive="router-link-active" >Order managment</button>
      <button mat-menu-item [routerLink]="['/user/allUser']" routerLinkActive="router-link-active" >User managment</button>
      <button mat-menu-item [routerLink]="['/printingEdition/printingEditionAdmin']" routerLinkActive="router-link-active" >Product managment</button>
      <button mat-menu-item [routerLink]="['/author/viewAll']" routerLinkActive="router-link-active" >Author Page</button>
      <button mat-menu-item [routerLink]="['/user/userProfile']" routerLinkActive="router-link-active" >MyProfile</button>
      <button mat-menu-item (click)=logOut()>Log Out</button>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-toolbar>
</mat-toolbar>
