.header{
display: flex;
justify-content: center;
position: fixed;
z-index: 999;
}

.lable{
  font-size: 32px;
  outline: none !important;
}

span{
  flex: 1 1 auto;
}

.profile-img{
  height: 40px;
  width: 40px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}


