.forgot-password{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}

@media only screen and (min-height: 600px){
  .forgot-password{
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.forgot-password-form{
  width: 400px;
}

.mat-form-field{
  width: 100%;
}

.continue{
width: 200px;
margin-top: 20px;
}

.password-assistance{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
}

.lable{
  width: 100%;
  text-align: left;
}

@media only screen and (min-height: 600px){
  .password-assistance{
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

