<div class="forgot-password" *ngIf="!isValidFormSubmitted">
    <img src="assets/usericon.svg" alt="img" width=100px height=100px>
    <h2>Passsword assistance</h2>
    <mat-error>{{baseModel.errors}}</mat-error>
    <p></p>
    <span class="lable">Enter the email address associated with your account.</span>
<form class="forgot-password-form" [formGroup]="forgotPasswordForm">
    <div class="form-group-email">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="" id="email" formControlName="email" required [(ngModel)]="forgotPasswordModel.email">
        <mat-error *ngIf= "forgotPasswordForm.controls['email'].hasError('pattern') && !forgotPasswordForm.controls['email'].hasError('required')">Please enter a valid email address </mat-error>
        <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('required')">Email is required</mat-error>
      </mat-form-field>
    </div>
</form>
<button class="continue" mat-raised-button (click)="submit()"> Continue </button>
</div>
<div class="password-assistance" *ngIf="isValidFormSubmitted">
  <img src="assets/usericon.svg" alt="img" width=100px height=100px>
  <h2>Passsword assistance</h2>
  <span class="lable">You will receive an e-mail with a new password to login onto your e-mail box stated in your Personal Profile</span>
  <p></p>
  <span class="lable">Please contact our administrato if you don't receive an email message whith a new password</span>
  <button class="continue" mat-raised-button [routerLink]="['/account/signIn']" routerLinkActive="router-link-active">Continue</button>
</div>

