<div class="container">
    <h1 mat-dialog-title> Delete item </h1>
    <img src="assets/warning.svg" width=100px height=100px>
    <div class="content" mat-dialog-content>
    <p>You definitely want to delete this item?</p>
      <div class="buttons">
          <button mat-raised-button (click)="closeWindow()">Cancel</button>
          <span></span>
          <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>Delete</button>
      </div>
    </div>
  </div>
