.sign-up{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-height: 600px){
  .sign-up{
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.sign-up-form{
  width: 400px;
}

.error-password{
  color: #ff0000;
}

.loading{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-form-field{
  width: 100%;
  align-items: center;
}

.sign-up-button{
  width: 200px;
  margin-top: 20px;
}

.confirm-email{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}

@media only screen and (min-height: 600px){
  .confirm-email{
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
span{
  width: 100%;
  text-align: left;
}

.profile-img {
  height: 200px;
  width: 200px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
