<div class="sign-up" *ngIf="!isValidFormSubmitted">
    <img *ngIf="!url" src="assets/usericon.svg" alt="img" width=200px >
    <img class="profile-img" *ngIf="url"  [src]="url">
    <input type='file' (change)="onSelectFile($event)">
    <h2>Sign Up</h2>
    <mat-error>{{baseModel?.errors}}</mat-error>
<form class="sign-up-form" [formGroup]="signUpForm">
    <div id="form-group-first-name">
      <mat-form-field>
        <mat-label>Your First name</mat-label>
        <input matInput placeholder="" id="first-name" formControlName="firstName" required [(ngModel)]="signUpModel.firstName">
        <mat-error *ngIf="signUpForm.controls['firstName'].hasError('required')">Firs name is required</mat-error>
      </mat-form-field>
    </div>
    <div id="form-group-last-name">
        <mat-form-field>
          <mat-label>Your Last name</mat-label>
          <input matInput placeholder="" id="last-name" formControlName="lastName" required [(ngModel)]="signUpModel.lastName">
          <mat-error *ngIf="signUpForm.controls['lastName'].hasError('required')">Last name is required</mat-error>
        </mat-form-field>
    </div>
    <div id="form-group-email">
        <mat-form-field>
          <mat-label>Your E-mail</mat-label>
          <input matInput placeholder="" id="email" formControlName="email" required [(ngModel)]="signUpModel.email">
          <mat-error *ngIf= "signUpForm.controls['email'].hasError('pattern') && !signUpForm.controls['email'].hasError('required')">Please enter a valid email address</mat-error>
          <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">Email is required</mat-error>
        </mat-form-field>
    </div>
    <div id="form-group-password">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="At least 6 characters" id="password" formControlName="password" [type]="hidePasword ? 'text' : 'password'" required [(ngModel)]="signUpModel.password">
        <mat-icon matSuffix (click)="hidePasword = !hidePasword">{{hidePasword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error *ngIf="signUpForm.controls['password'].hasError('pattern') && !signUpForm.controls['password'].hasError('required') && !signUpForm.controls['password'].hasError('minLength')">Please enter a valid password</mat-error>
        <mat-error *ngIf="signUpForm.controls['password'].hasError('required')">Password is required</mat-error>
      </mat-form-field>
    </div>
    <div id="form-group-password">
        <mat-form-field>
          <mat-label>Confirm password</mat-label>
          <input matInput placeholder="" id="password-confirm" formControlName="passwordConfirm" [type]="hideConfirmPassword ? 'text' : 'password'" required [(ngModel)]="signUpForm.controls['passwordConfirm'].value">
          <mat-icon matSuffix (click)="  hideConfirmPassword = !  hideConfirmPassword">{{  hideConfirmPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-hint class="error-password" *ngIf="signUpForm.controls['password'].value != signUpForm.controls['passwordConfirm'].value && !signUpForm.controls['passwordConfirm'].hasError('required')">Passwords doesn't match</mat-hint>
          <mat-error *ngIf="signUpForm.controls['passwordConfirm'].hasError('required')">Confirm password is required</mat-error>
        </mat-form-field>
    </div>
</form>
  <div class="loading">
    <button class="sign-up-button" mat-raised-button (click)="submit()">Sign Up</button>
    <mat-spinner class="spinner" *ngIf="visibleSpiner" width=10px height=10px></mat-spinner>
  </div>
</div>
<div class="confirm-email" *ngIf="isValidFormSubmitted">
  <h1>Confirm your email address</h1>
  <span>We have sand an email with a confirmation link to your email adress. In order to complete the sing-up process, please click the confirmation link</span>
  <p></p>
  <span>If you do not receive a confirmation email, please check your spam folde. Also, please verify that, you entered a valid email address in our sing-up form</span>
</div>

