<div class="order-confirm">
  <img src="assets/done_outline.svg" width=200px>
  <h1>Thanks You for your purchase!</h1>
  <h2>Order number is: {{data}}</h2>
  <button mat-raised-button (click)="closeWindow()" [mat-dialog-close]="data">Continue</button>
</div>
