.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.table-container{
  width: 90%;
}

.order-label{
  width: 90%;
  text-align: left;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
padding-left: 0px;
}

.menu-button{
  text-align: left;
}

.check-boxses{
  margin-left: 10px;
}

table{
  width: 100%;
}
