.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table-container{
  width: 90%;
}

.user-label{
  width: 90%;
  text-align: left;
}

.filter-content{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 90%;
}
.check-boxes{
  margin-left: 10px;
}

.filter-button{
  margin-left: 20px;
}

.filter-string{
  width: 40%;
}

table{
  width: 100%;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type{
  padding-left: 0px;
}
