<div class="container">
  <h1 class="user-label">User managment</h1>
  <div class="filter-content">
    <mat-form-field class="filter-string">
      <mat-label>Enter E-mail or User Name</mat-label>
      <input matInput placeholder="" [(ngModel)]="userFilter.serchString" [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>
    <button class="filter-button" mat-raised-button (click)="filterUser()">Filter</button>
  </div>
  <div class="table-container">
    <mat-error>{{ userModel?.errors }}</mat-error>
    <table class="table" mat-table [dataSource]="userModel.items">
      <ng-container matColumnDef="user-name">
        <th mat-header-cell *matHeaderCellDef>User Name</th>
        <td mat-sell *matCellDef="let element">{{ element.userName }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-sell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
          <button class="menu-button" mat-button [matMenuTriggerFor]="menu" (menuClosed)="filterUser()">Status </button>
          <mat-menu #menu="matMenu">
            <div class="check-boxes" *ngFor="let item of lockoutStatusOption; let i = index">
              <mat-checkbox [(ngModel)]="item.checked" (change)="onChecked($event, i)" [ngModelOptions]="{ standalone: true }" (click)="$event.stopPropagation();">{{ item.label }}</mat-checkbox>
            </div>
          </mat-menu>
        </th>
        <td mat-sell *matCellDef="let element">
          <mat-slide-toggle
            [checked]="!element.isLockout"
            (change)="setLockout(element, $event.source.checked)"
          ></mat-slide-toggle>
        </td>
      </ng-container>
      <ng-container matColumnDef="crud">
        <th mat-header-cell *matHeaderCellDef></th>
        <td class="crud" mat-sell *matCellDef="let element">
          <div class="crud-button">
            <button class="edit" mat-button (click)="editUser(element)">
              <img src="assets/create.svg" height="30px" width="30px" />
            </button>
            <button class="delete" mat-button (click)="deleteUser(element)">
              <img src="assets/clear.svg" height="30px" width="30px" />
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="paginationModel.length"
      [pageSize]="paginationModel.pageSize"
      [pageSizeOptions]="paginationModel.pageSizeOptions"
      (page)="pageEvent = getUsers($event.pageSize, $event.pageIndex)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
