.user-profile{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 100px;
  margin-left: 200px;
}

.user-form{
  width: 100%;
  margin-top: 10px;
}

.profile{
  display: flex;
  flex-direction: row;
}

span{
  flex: 1 1 auto;
}

.edit{
  width: 30px;
}

mat-form-field{
  width: 100%;
}

.cansel{
  margin-left: 20px;
}

.rout{
  outline: none !important;
}

.profile-img {
  height: 200px;
  width: 200px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
