<div class="user-profile">
    <h2>My profile</h2>
    <div class="profile">
    <img  *ngIf="!isPhotoEmpty" src="assets/usericon.svg" width=200px>
    <img class="profile-img" *ngIf="isPhotoEmpty" [src]="image">
    <input *ngIf="isEdit" type='file' (change)="onSelectFile($event)">
    <span></span>
    <button class="edit" (click)="edit()" mat-button matTooltip="Edit profile" *ngIf="!isEdit" ><img src="assets/create.svg"></button>
    </div>
    <mat-error>{{userModelItem?.errors}}</mat-error>
    <form class="user-form" [formGroup]="userForm">
        <div id="form-group-first-name">
            <mat-form-field>
              <mat-label>Your First name</mat-label>
              <input matInput placeholder="" id="first-name" formControlName="firstName" required [(ngModel)]="userModelItem.firstName" [readonly]="isReadOnly">
              <mat-error *ngIf="userForm.controls['firstName'].hasError('required')">Firs name is required</mat-error>
            </mat-form-field>
          </div>
          <div id="form-group-last-name">
              <mat-form-field>
                <mat-label>Your Last name</mat-label>
                <input matInput placeholder="" id="last-name" formControlName="lastName" required [(ngModel)]="userModelItem.lastName" [readonly]="isReadOnly">
                <mat-error *ngIf="userForm.controls['lastName'].hasError('required')">Last name is required</mat-error>
              </mat-form-field>
          </div>
          <div id="form-group-email">
              <mat-form-field>
                <mat-label>Your E-mail</mat-label>
                <input matInput placeholder="" id="email" formControlName="email" required [(ngModel)]="userModelItem.email" [readonly]="isReadOnly">
                <mat-error *ngIf= "userForm.controls['email'].hasError('pattern') && !userForm.controls['email'].hasError('required')">Please enter a valid email address</mat-error>
                <mat-error *ngIf="userForm.controls['email'].hasError('required')">Email is required</mat-error>
              </mat-form-field>
          </div>
          <div id="form-group-password" *ngIf="isEdit">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput placeholder="At least 6 characters" id="password" formControlName="password" [type]="hidePasword ? 'text' : 'password'" [(ngModel)]="userModelItem.password">
              <mat-icon matSuffix (click)="hidePasword = !hidePasword">{{hidePasword ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="userForm.controls['password'].hasError('pattern')">Please enter a valid password</mat-error>
            </mat-form-field>
          </div>
          <div id="form-group-new-password" *ngIf="isEdit">
              <mat-form-field>
                <mat-label>Confirm password</mat-label>
                <input matInput placeholder="At least 6 characters" id="new-password" formControlName="newPassword" [type]="hideNewPassword? 'text' : 'password'" [(ngModel)]="userModelItem.newPassword">
                <mat-icon matSuffix (click)="  hideNewPassword = !  hideNewPassword">{{  hideNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="userForm.controls['newPassword'].hasError('pattern')">Please enter a valid password</mat-error>
              </mat-form-field>
          </div>
        <button class="save" mat-raised-button *ngIf="isEdit" (click)="save()">Save</button>
        <button class="cansel" mat-raised-button *ngIf="isEdit" (click)="cancel()">Cancel</button>
    </form>
</div>

